/* --- CSSリセット（モダン）--- */
*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html, body {
height: 100%;
font-family: sans-serif;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
height: auto;
}

input, button, textarea, select {
font: inherit;
border: none;
background: none;
outline: none;
}

a {
color: inherit;
text-decoration: none;
}

ul, ol {
list-style: none;
}

/*あとで消す*/

.logo{
  width: 100%;
  height: 179px;
  background-color: #000;
}
.nav{
  width: 100%;
  height: 60px;
  background-color: #00FFF5;
}

/*カバーエリア*/
#my-cover{
  width: 100%;
  height: 765px;
  position: relative;
  z-index: 1;
}

.my-cover-text{
  color: #fff;
  font-size: 100px;
  font-family: 'Exo',sans-serif; 
  padding-top: 300px;
  padding-left: 100px;
}

#my-cover p{
  color: #fff;
  font-size: 24px;
  padding-left: 100px;
}

.my-scroll{
  position: absolute;
  top: 70%;
  left: 20px;
}
    
    .container {
      display: flex;
      align-items: center;
margin-top:2px;
      
      
margin-left:10px;
    }

    .line {
margin-top:10px;
      
      position: relative;
      width: 2px;
      height: 50px;
      background-color: #00fff5;
      transform: rotate(0deg);
    }

    .ball {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #00fff5;
      border-radius: 50%;
      top: -8px;
      left: -4px; /* Center the ball on the line */
      animation: moveBall 2s infinite;
    }

    .scroll-text {
      color: #00fff5;
      font-size: 11px;
      margin-left: 2px;
      transform: rotate(90deg);
      font-family: 'Exo', sans-serif;
    }

    @keyframes moveBall {
      0% {
        opacity: 0;
        transform: translateY(0);
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
      }
      95% {
        opacity: 0.3;
      }
      100% {
        opacity: 0;
        transform: translateY(50px);
      }
    }

/*テキストエリア01*/
.text-area01{
  width: 100%;
  position: relative;
}

.background{
  background-image: url('img/cyber.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* ←ここで固定表示 */
  position: absolute; /* wrap の中で配置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background02{
  background-image: url('img/pc01.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* ←ここで固定表示 */
  position: absolute; /* wrap の中で配置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.text01-space{
  background-size: cover;
  height: 100vh;
}

.text-area01{
  padding:  100px 0;
}

.text01-text{
  margin: 0 auto;
  width: 60%;
  background-color: rgb(255, 255, 255,0.8);
}

.text01-text h3{
  font-family: "Workbench", sans-serif;
  text-align: center;
  font-size: 36px;
  padding: 50px 0 0 30px;
  color: #0da578;
}

.text01-text h4{
  text-align: center;
}

.sec-size{
  margin: 0 auto;
  width: 80%;
  padding: 50px 30px;
}

/*テキストエリア02*/
.text-area02{
  width: 100%;
  background-color: #0A0B20;
  /* 上から下（Y方向）へのグラデーション */
  background-image: linear-gradient(to bottom, #0A0B20 0%, #000000 100%);

  /* 端末互換のための -webkit プレフィックス（古いブラウザ向け） */
  background-image: -webkit-linear-gradient(top, #0A0B20 0%, #000000 100%);
  position: relative;
  z-index: -2;
}

.text-box02{
  display: flex;
  justify-content: center;
  padding: 100px 30px;
}

.text-box02 h3{
  font-family: "Workbench", sans-serif;
  text-align: center;
  font-size: 36px;
  padding: 50px 0 0 30px;
  color: #0da578;
}

.text-box02 h4{
  text-align: center;
}

.img-KEN{
  width: 500px;
  height: 280px;
  box-shadow: 5px 5px 0px 0px rgba(0, 255, 245, 0.4), 10px 10px 0px 0px rgba(0, 255, 245, 0.3), 15px 15px 0px 0px rgba(0, 255, 245, 0.2), 20px 20px 0px 0px rgba(0, 0, 0, 0.1);
}

.img-TIN{
  width: 500px;
  height: 280px;
  box-shadow: 5px 5px 0px 0px rgba(0, 255, 245, 0.4), 10px 10px 0px 0px rgba(0, 255, 245, 0.3), 15px 15px 0px 0px rgba(0, 255, 245, 0.2), 20px 20px 0px 0px rgba(0, 0, 0, 0.1);
}

.sec02{
  margin: 0 40px;
  width: 40%;
  background-color: rgb(0, 0, 0,0.6);
  color: #FFFFFF;
}

.sec02 h3{
  font-family: "Workbench", sans-serif;
  text-align: center;
  font-size: 36px;
  padding: 50px 0 0 30px;
  color: #0da578;
}

.sec02 h4{
  text-align: center;
}

.sec02 p{
  padding: 15px 30px;
  font-size: 16px;
  line-height: 1.8;
}

.code{
  color:#00FFF5;
}

.text02-image{
  position: absolute;
  z-index: -1;
}

.space{
  background-size: cover;
  height: 150vh;
}

/*TINパート*/
.chapter03{
  display: flex;
  justify-content: center;
  padding: 0 30px 100px 30px;
  position: relative;
}

.space-static{
  top: 40%;
  left: 15%;
  width: 500px;
  height: auto;
  position: absolute;
  z-index: -1;
}

/*ファイナル*/
.text03-text h3{
  font-family: "Workbench", sans-serif;
  text-align: center;
  font-size: 36px;
  padding: 50px 0 0 30px;
  color: #0da578;
}

.text03-text h4{
  text-align: center;
}

.text03-text p{
  padding: 15px 30px;
  font-size: 16px;
  line-height: 1.8;
}

 /*レスポンシブ対応*/
 @media screen and (max-width: 900px) {  
  .text01-text{
    width: 80%;
  }

  .text-box02{
    display: block;
    }
    .sec02{
      margin: 0 auto;
      width: 80%;
    }

    .img-KEN{
      margin:50px auto;
    }

    .text02-image{
      top: 300px;
      }

    .space{
      background-size: cover;
      height: 100%;
    }

    .chapter03{
      display: flex; /* Flexboxコンテナにする */
      flex-direction: column-reverse;
      justify-content: center;
      padding: 0 30px 100px 30px;
      position: relative;
    }

    .img-TIN{
      margin:50px auto;
    }
 }

 @media screen and (max-width: 540px) {
  .logo{
    display: none;
  }

  .my-cover-text{
    font-size: 60px;
    padding-top: 200px;
    padding-left: 50px;
  }
  #my-cover p{
    padding-left: 50px;
  }

  .my-scroll{
    position: absolute;
    top: 65%;
    left: 10px;
  }

  .img-KEN{
    width: 300px;
    height: auto;
  }

  .img-TIN{
    width: 300px;
    height: auto;
  }

 }